.img-fluid{
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
.ddd{
    /* border: 2px solid cyan; */
    height: 100%;
    scale: 1.3;
    margin: 15px;
    position: relative;
    overflow: hidden;
}
