/* Global Styles */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(33, 37, 41);
  text-align: left;
  background-color: rgb(255, 255, 255);
  font-family: Montserrat, sans-serif;
}

/* .video-overlay */
.video-overlay {
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(22, 34, 57, 0.85);
  top: 0;
  left: 0;
  bottom: 7px;
  width: 100%;
}

/* .caption */
.caption {
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* h6 */
h6 {
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}

/* h2 */
h2 {
  box-sizing: border-box;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}

/* em */
em {
  box-sizing: border-box;
  font-style: normal;
  color: rgba(63, 229, 3, 0.867);
  font-weight: 900;
}

/* .main-button */
.main-button {
  box-sizing: border-box;
}

/* .scroll-to-section a */
.scroll-to-section a {
  box-sizing: border-box;
  text-decoration: none;
  padding: 12px 20px;
  outline: none;
  background-color: rgba(63, 229, 3, 0.867);
  color: rgb(255, 255, 255);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  display: inline-block;
}
