.section-main-banner{
  box-sizing: border-box;
  /* border: 4px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Required for child positioning */
  width: 100%; /* Full width of the screen */
  overflow: hidden;
  /* background-color: rgba(22, 34, 57, 0.85); */
}
.video-overlay {
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(22, 34, 57, 0.85);
  top: 0;
  left: 0;
  bottom: 7px;
  width: 100%;
}
.caption {
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bg-video{
  margin: auto;
  /* border: 4px solid red; */
  /* Position the video container relative to the parent */
  top: 0;
  left: 0;
  width: 100%; /* Full width of the parent container */
  height: 100%; /* Full height of the parent container */
  z-index: -1;
}
.bg-video video {
  object-fit: cover; /* Cover the entire container */
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
}
h6 {
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}

h2 {
  box-sizing: border-box;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}

em {
  box-sizing: border-box;
  font-style: normal;
  color: rgba(63, 229, 3, 0.867);
  font-weight: 900;
}

.main-button {
  box-sizing: border-box;
  text-align: center;
}

.scroll-to-section a {
  box-sizing: border-box;
  text-decoration: none;
  padding: 12px 20px;
  outline: none;
  background-color: rgba(63, 229, 3, 0.867);
  color: rgb(255, 255, 255);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  display: inline-block;
}