.item{
    border: 2px solid #87ceeb;
    margin:10px;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    max-height: 350px;
}

.item img{
    /* Image styles */

    box-sizing: border-box;
    border-style: none;
    
    display: block;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

  
}


.down-content {
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    max-height: 30em;
  }
  
  .down-content h4 {
    box-sizing: border-box;
    line-height: 1.2;
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(30, 30, 30);
    letter-spacing: 0.5px;
    font-weight: 700;
    margin-top: 0px;
    padding-bottom: 10px;
  }
  
  .down-content p {
    box-sizing: border-box;
    margin-top: 0px;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 25px;
  }
  
  .text-button-pay {
    box-sizing: border-box;
    /* float: right; */
    display: inline-block;
    margin-top: -30px;
  }
  
  a {
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    color: rgb(122, 122, 122);
    font-size: 13px;
  }
  
  i.fa.fa-angle-double-right {
    box-sizing: border-box;
    font-variant: normal;
    display: inline-block;
    font-style: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transform: translate(0px, 0px);
  }
  

  