/* RegistrationForm.css */

/* Style for the top content */
.top-content {
    display: flex;
    
   
    text-align: center;
   
  }
  
  .top-content h6 {
    
        margin-top: 0;
        margin-bottom: 0;
        padding: 40px;
        
        width: 100%;
        font-weight: 500;
        font-size: 9px;
        color: rgb(255, 255, 255);
        background-color: rgba(250, 250, 250, 0.2);
        text-align: center;
        line-height: 10px;
      /* Change the color as needed */
  }
  
  /* Style for form container */
  #contact {
    /* border:2px solid pink; */
    box-sizing: border-box;
    padding: 40px 0px;
    background-color: rgba(250, 250, 250, 0.1);
    width: 100%;
    text-align: center;
  }
  
  /* Style for the form row */
  .row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  /* Style for form fields */
.form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    overflow: visible;
    padding: 0.375rem 0;
    /* transition:  0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; */
    
    font-weight: 400;
    line-height: 1.5;
    /* background-clip: padding-box; */
    border-radius: 0;
    border: none;
    outline: none;
    width: 80%;
    height: 40px;
    background-color: rgba(250, 250, 250, 0.1);
    color: white;
    font-size: 13px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    z-index: 1000;
  }
  .fieldset-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0;
    margin: 0;
    /* border: 2px solid red; */
  }
  .fieldset input{
    border: none;
    padding-left: 10px;
    color: white;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
  }
  /* Style for submit button */
  #form-submit {
    width: 50%;
    margin-top: 10px;
    /* padding: 12px 20px; */
    background-color: rgba(63, 229, 3, 0.867);
    color: white; /* Text color */
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    /* transition: background-color 0.2s ease-in-out; */
  }
  #form-submit {
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    overflow: visible;
    appearance: button;
    padding: 12px 20px;
    outline: none;
    border: none;
    margin-top: 10px;
    background-color: rgba(63, 229, 3, 0.867);
    color: rgb(255, 255, 255);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    display: inline-block;
    box-shadow: none;
    cursor: pointer;
  }
  
  #form-submit:hover {
    background-color: #44ae1e; /* Hover color */
  }
 

  /* .fieldset-container{
    display: inline-block;
    /* border: 2px solid red; */
    