*{
    margin: 0px;
    padding: 0px;
  }
  
  
  .admin__card{
    border:2px solid white ;
     color:white;
     width: 20%;
  }
  .admin__card:hover{
    color: green;
    border: 2px solid green;
    cursor: pointer;
  }
  
  @media screen and (max-width: 650px) {
    
    .admin__card{
      margin: auto;
       width: 80%;
    }
    .admin__row{
      flex-direction: column;
      gap: 20px;
    }
  }
  @media screen and (min-width: 650px) {
    .cross{
      display: none;
      
    }
    
  }