.main-header {
    background-color: rgba(22,34,57,1);
    height: 80px;
    position: sticky;
    z-index: 12;
    width: 100%;
    top: 0;
    /* border: red solid; */
}
.main-header .logo {
    float: left;
    /* line-height: 60px; */
    padding: auto;
    padding-left: 60px;
    /* border: red solid; */
}


.main-header .logo a {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
}
.main-header .logo a em {
    font-style: normal;
    color: #f5a425;
}
#menu{
    margin: auto;
}
.main-menu {
    margin: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    float: right;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 0px;
    /* border: red solid; */
}

.main-menu li {
    display: inline-block;
    /* line-height: 79px; */
    margin-left: 15px;
    position: relative;
}

.main-menu li:first-child {
    margin-left: 0px;
}

.main-menu li a {
    padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.5s;
    text-decoration: none;
    /* border: red solid; */
}

.main-menu li.has-submenu a:after {
    content: '\f107';
    font-family: "FontAwesome";
    margin-left: 5px;
}

.main-menu li.has-submenu ul li a:after {
    display: none;
}

.main-menu li .sub-menu {
    position: absolute;
    width: 160px;
    background-color: #18233a;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.main-menu li .sub-menu li {
    display: flex;
    line-height: 20px;
    margin-left: 0px;
    margin-bottom: 0;
    padding-bottom: 15px;
    justify-content: center;
    border-bottom: 1px solid #121b2f;
}

.main-menu li .sub-menu li:first-child {
    padding-top: 15px;
}

.main-menu li .sub-menu li:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}

.main-menu li .sub-menu li a {
    font-size: 12px;
    font-weight: 500;
    padding: 0px 15px;
    letter-spacing: 0.5px;
    border: none;
    transition: all 0.5s;
}

.main-menu li .sub-menu li a:hover {
    color: #25f53a;
    border: none;
}

.main-nav li:hover a,
.main-nav li.active a {
    border: 2px solid #25f53a;
}

@media (max-width: 950px) {
  .main-nav li:hover a,
  .main-nav li.active a {
    border: 2px solid transparent;
    border-bottom: 1px solid rgba(250,250,250,0.25);
  }
}


.topnav .icon {
    display: none;
  }


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
