.text{
    /* border: 2px solid red; */
    flex-wrap: wrap;
    background-color: rgba(22, 34, 57, 0.95);
    padding: 20px 40px;
}

#targetedImg{

    box-sizing: border-box;
    border-style: none;
    vertical-align: middle;

    width: 100%;
    height: 60vh;
}
/* CSS for large screens (lg) */
@media (min-width: 992px) {
    .col-lg-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  }
  
  /* CSS for small screens (sm) */
  @media (max-width: 768px) {
    .col-sm-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  }
  /* CSS for the padding-top-bot2 class */
.padding-top-bot2 {
    /* border: 2px solid red; */

    box-sizing: border-box;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: Montserrat, sans-serif;
    color: white;
    
  }
  
  /* CSS for the h3 element */
  .padding-top-bot2 h3 {
    /* border : 2px solid yellow; */
    margin-top: 20px;
    margin-bottom: 0.5rem;
    padding-left: 10px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
  }
  
  /* CSS for the "Download Notes Here" text */
  .padding-top-bot2 span {
    /* Add your styles for this element here */
    padding-left: 10px;
    box-sizing: border-box;
  }
  
  /* CSS for the button element */
  .padding-top-bot2 button.btn {
    
    margin-left:20px;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    appearance: button;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1;
    padding: 12px 30px;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
    color: black;
  }
  

  
  
  /* Styles for the FontAwesome icon */
  .btn i.fa {
    box-sizing: border-box;
    font-variant: normal;
    display: inline-block;
    font-style: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    /* Webkit-font-smoothing: antialiased; */
    transform: translate(0px, 0px);
  }
  .padding-top-bot {
    box-sizing: border-box;
    padding: 10px 0px;
  }

  .scroll {
    box-sizing: border-box;
    overflow: hidden auto;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 0px 10px;
    background-color: rgba(22, 34, 57, 0.95);
    width: 170%;
    height: 67vh;
  }

  h4 {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
  }
  
  /* Styles for the paragraph */
  p {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 1rem;
    line-height: 22px;
    font-size: 10px;
  }
  .side-logo-img {
    box-sizing: border-box;
    border-style: none;
    vertical-align: middle;
    float: left;
    height: 90px;
    width: 100px;
    display: inline-block;
    margin: auto;
  }

  .mar-y {
  box-sizing: border-box;
  margin-left: 35%;
}
  /* Global styles */
  html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    box-sizing: border-box;
    margin: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: Montserrat, sans-serif;
    color: white;
    background-color: rgba(22, 34, 57, 0.95);
  }

  
  
  
  
  