.section-courses{
    background-image: url('./choosing-bg.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.col-md-12 {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  /* Styles for the section heading */
  .section-heading {
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 70px;
  }
  
  /* Styles for the heading element */
  .section-heading h2 {
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    padding: 15px 20px;
    border: 2px solid rgba(250, 250, 250, 0.1);
    margin-top: 100px;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    display: inline-block;
  }
  

  .courseContainer{
    box-sizing: border-box;
    border: 2px solid red;
    display: flex;
    flex-direction: row ;
    justify-content: center;
  }