.section-why-us{
  /* border: 2px solid red; */
  background-image: url(./imageChoose/choosing-bg.jpg);
  box-sizing: border-box;
  display: block;
  background-repeat: no-repeat;
  
  background-color: rgb(23, 34, 56);
  background-size: cover;
  padding-bottom: 100px;
}
.section-why-us .container{
  box-sizing: border-box;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}
