.sec-heading-container{
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}
.section-heading{
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 70px;
}
.section-heading h2{
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    padding: 15px 20px;
    border: 2px solid rgba(250, 250, 250, 0.1);
    margin-top: 100px;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    letter-spacing: 0.5px;
    display: inline-block;
}